# Pastas e arquivos de dependências
node_modules/
.pnp
.pnp.js

# Build e Produção
!frontend/build/
dist/
*.tsbuildinfo

# IDE e sistema
.idea/
.vscode/
.DS_Store

# Logs e Debug
*.log
.cache/

# Variáveis de ambiente
.env
.env.local
.env.*
*.json
!package.json
!package-lock.json

# Cache do Git (Essencial)
.eslintcache
